<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>this is index jsp</title>
</head>
<body>
<p th:text="${msg}">  </p>
<p>

    <a th:href="@{/loginout}">退出</a></br>
    <a th:href="@{/role}">测试角色</a></br>
    <a th:href="@{/permiss}">测试权限user:select</a></br>
    <a th:href="@{/permissUpdate}">测试权限user:user:update</a></br>
    <a th:href="@{/guest}">测试guest</a></br>
    <a th:href="@{/testnopre}">测试testnopre</a>
</p>
</body>
</html>